@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.nav-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 3em;
}

.open-btn{
    border-radius:  5px 5px 5px 5px;
    position: fixed;
    top: 0.8em;
    right: 0.8em;
    color: white;
}
.nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
   
}

.nav.visible{
    transform: translateX(0);
}


.nav-blue{
        background-color: rgb(51, 0, 236);
        width: 60%;
        max-width: 420px;
        min-width: 320px;
        transition-delay: .3s;
}
.nav-blue.visible{
    transition-delay: 0s;
}
.nav-softblue.visible{
    transition-delay: 0.2s;
}
.nav-white.visible{
    transition-delay: 0.4s;
}

.nav-softblue{
    background-color: rgb(0, 204, 255);
    width: 95%;
    transition-delay: .2s;

    
}

.nav-white{
    padding: 3em;
    background-color: white;
    width: 71%;
    right: 0px;
    top: 0px;
    transition-delay: .1s;

 
}
.close-btn{
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: 0.6;
}
.list{
    list-style-type: none;
    padding: 0;
}
.list li{
    margin: 5em 0;
}
.list li a{
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    text-decoration: none;
    transition: font-size .2s linear;
}
.list li a:hover{
    color: rgb(0, 204, 255);
    font-size: 22px;
}

.presentation{
    width: 100vw;
    height: 60vh;
    background-image: url(https://images.pexels.com/photos/3985168/pexels-photo-3985168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
.gradient{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(5, 12, 107, 0.3), rgba(0, 195, 255, 0.3));
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient h1{
    color: white;
    font-size: 8em;
    text-transform: uppercase;
    text-shadow: 1px 3px 10px black;
}

#titulo{
    font-size: 10vw;
}
.secoes{
    padding: 1em;
    

}
.secoes h1{
    color:rgb(88, 88, 88);
    font-size: 3em;
    text-transform: uppercase;
}
.cards{
    display: flex;
    padding: 2em;
}
.cards img{
    margin: .3em;
    border-radius: 50%;
    width: 5em;
}
#moça1{
    display: flex;
    flex-direction: row-reverse;
}
footer{
    color: white;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(88, 88, 88);
    color: white;
    height: 5vh;
}
footer a{
    font-style: none;
    text-decoration: none;
    color: white;
    margin: 1em;
    font-size: 1.3em;
    transition: color .5s linear;
}
footer a:hover{
    color: rgb(104, 212, 245);
}
q{
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
}

/* Animação */
[data-anime]{
    opacity: 0;
    transition: .5s;
}
[data-anime = "left"]{
    transform: translateX(-5em);
    
}
[data-anime = "right"]{
    transform: translateX(5em);
    
}




[data-anime].animate{
    opacity: 1;
    transform: translateX(0em);
    
}

.main-content{
    min-width: 100vw;
    z-index: 1;
}

header{
    position: relative;
    z-index: 200;
}




/*Desktop*/

@media (min-width: 700px){
    .nav-btn{
        display: none;
    }
    
    .nav{
        display: flex;
        position: fixed;
        height: 1vh;
        min-width: 100vw;
        transform: translateX(0);
        flex-direction: row-reverse;
        
        
    }
    .nav-softblue, .nav-blue{
        background-color: transparent;
        min-width: 100vw;
    }
    .nav-white{
        background-color: transparent;
        position: fixed;
        min-width: 100vw;
        display: flex;
        align-items: center;
        transition: all .3s;
        
    }
    .list{
        position: fixed;
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        right: 0;
        height: 100%;
        align-items: center;
    }
    .list li{
        margin: 1em;
        padding: 0;
        display: inline-block;
    }
    .list li a{
        color: white;
        text-shadow: 1px 3px 10px black;
        font-size: 1em;
    }
    .list li a:hover{
        color: rgb(0, 204, 255);
        font-size: 1em;
    }

    
    .scrolled{
        
        background-color: white !important; 
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
        
    }
    .scrolled a{
        color: rgb(104, 212, 245) !important;
        text-shadow: none !important;
    }

    .scrolled a:hover{
        color: rgb(51, 0, 236) !important;
    }

    .logo{
        position: absolute;
        top: calc(50% - 15px);
        left: 150px;
    }


}